/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
		border-radius: 10px;
}

button:hover {
    background: #6238bd;
		box-shadow: 2px 4px 4px rgba(9, 248, 236, 0.37);
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #7f97e9;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    background: #ebebf3;
    padding: 24px;
    width: 300px;
		border-radius: 5px;
		box-shadow: 2px 5px 10px rgb(62, 49, 246);
}

.centered-form__box h1 i {
	color: #6238bd;
}

.centered-form__box label {
	color: rgb(65, 60, 60);
	font-weight: 500;
}

.centered-form button {
    width: 100%;
		border-radius: 5px;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
		background-color: rgb(245, 245, 234);
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #73cca0;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
		background-color: rgb(206, 206, 194);
		border-top-left-radius: 14px;
		border-top-right-radius: 14px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
		border-top-left-radius: 14px;
		border-top-right-radius: 14px;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room {
	font-weight: 400;
  font-size: 22px;
	background: #0e5c51;
	padding: 12px 20%;
}

.room-title {
    font-weight: 400;
    font-size: 22px;
    padding: 20px;   
}

.list-title {
		background: #0e5c51;
    font-weight: 500;
    font-size: 22px;
		padding: 12px 20%;
}

.userimg {
	color: rgb(106, 93, 223);
}

.users {
	color: rgb(255, 255, 255);
    list-style-type: none;
		font-size: large;
    font-weight: 300;
		margin-bottom: 10px;
    padding: 10px 10px 10px 20px;
		
}